*{
    font-family: "Inter", sans-serif;
}

h1{
    text-align: center;
    font-size: 50px;
   
}
.web-title p{
    text-align: center;
    font-weight: 600;
    font-size: 20px;
     margin-top: -25px;
}
.login-from{
    width: 80%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
}

.login-from h3{
    text-align: center;
    color: #45abff;
    font-size: 30px;
    margin-bottom: 5px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
 
input[type='text'], input[type='password']{
    padding: 10px;
    border-radius: 5px;
}


.Login-buttton{
    width: 10%;
    padding: 10px 15px;
    background-color: #008cff;
    color: rgb(249, 250, 250);
    border: none;
    border-radius: 20px;
    font-size: 15px;
    margin: 0 auto;
    margin-bottom: 5px;
    
    
}
.Login-buttton:hover{
    background-color: #45abff;
    transition: 0.5s;
}


.registration-buttton{
    width: 10%;
    padding: 9px;
    background-color:rgb(43, 200, 206) ;
    color: rgb(249, 250, 250);
    border: none;
    border-radius: 10px;
    font-size: 18px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    
}

.error{
    color: rgb(255, 0, 0);
}

.error h4{
    text-align: center;
}

.hidden{
    display: none;
}