*{
    font-family: "Inter", sans-serif;
}

#post-container{
width: 80%;
background-color: antiquewhite;
margin: 0 auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border: 1px solid rgb(29, 28, 28);

}

.post{
    width: 60%;
    padding: 15px;
    border: 1px solid rgb(29, 28, 28);
    border-radius: 15px;
    margin: 20px;
}

.post-header{
    display: flex;
    align-items: center;
    gap: 5px;
    
}

.post-user-image img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.post-username{
    margin: 0;
    font-size: 30px;
}

.posted-time{
    color: rgb(158, 158, 158);
    font-size: 11px;
}

.post-image{
    display: flex;
    justify-content: center;
}
.post-image img{
    width: 50%;
    border-radius: 8px;
    margin: 15px;
}

.comment{
    display: flex;
    align-items: center;
    gap: 3px;
    margin-bottom: 9px;
}
.comment-user-image img{
width: 40px;
height: 40px;
border-radius: 50%;
}

.comment-text-container {
    background-color: rgb(146, 192, 238);
    padding: 10px;
    border-radius: 20px;
}

.comment-text-container h4, p {
    margin: 0;
}

.comment-text-container h4{
    margin-bottom: 3px;
}

.postComment-holder{
    display: flex;
    gap: 9px;
    margin: 15px;
}

.post-comment-input-field-holder{
    width: 60%;
}

.postCommen-input-field{
    padding: 10px;
    outline: none;
    border: 1px solid gray;
    width: 80%;
}

.postComment-btn{
    padding: 10px;
    background-color: rgb(83, 156, 216);
    color: wheat;
    border: none;
    border-radius: 5px;

}