*{
    font-family: "Inter", sans-serif;
}

#post-container{
width: 90%;
background-color: antiquewhite;
margin: 0 auto;

}

.post-header{
    display: flex;
    align-items: center;
    gap: 5px;
    
}
.post-user-image img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}



.post-username{
    margin: 0;
}

.posted-time{
    color: rgb(158, 158, 158);
    font-size: 11px;
}